@charset "utf-8";

body,div,p,span,table,tr,td,dd,dl,dt,input,form,h1,h2,h3,h4,h5,h6,figure,li,ul,ol,blockquote,textarea,fieldset,option,select,a,hr{
	margin: 0;
	padding: 0;
}

ul,ol,li{
	list-style: none;
}

a{
	text-decoration: none;
}


// main
.main{
	width: 100%;
	text-align: center;
	overflow: hidden;
	.logo{
		margin: 10px 0 10px;
	}
	.title{
		font-weight: 500;
		font-size: 30px;
		margin-bottom: 20px;
	}
	.reg-box{
		width: 334px;
		margin: 0 auto;
		text-align: left;
		overflow: hidden;
		position: relative;
		p{
			font-size: 14px;
			color: #333;
			line-height: 24px;
		}
		.tip{
			font-size: 12px;
			line-height: 24px;
			color: #b0b0b0;
			text-indent: 18px;
		}
		#username,#password,#check-ma{
			width: 334px;
			height: 42px;
			border: 1px solid #e8e8e8;
			outline: 0;
			box-sizing:border-box;
			padding-left: 15px;
			line-height: 42px;
		}

		.red-border{
			border: 1px solid red!important;
		}
		#check-ma{
			width: 200px;
			vertical-align: middle;
		}
		.check-img{
			vertical-align: middle;
			width: 128px;
			height: 42px;
		}
		.error{
			float: left;
			width: 100%;
			line-height: 38px;
			height: 38px;
			color: #ff6666;
			user-select:none;
			box-sizing:border-box;
			i{
				font-size: 16px;
				cursor: default;
				user-select:none;
			}
		}
		
		.reg{
			float: left;
			width: 332px;
			height: 42px;
			line-height: 42px;
			text-align: center;
			border: none;
			background-color: #ff6700;
			color: #fff;
			outline: none;
			cursor: pointer;
			&:hover{
				opacity: 0.9;
			}
		}
		.agree{
			float: left;
			margin-top: 30px;
			color: #9d9d9d;
			user-select: none;
			i{
				font-size: 16px;
				cursor: pointer;
			}
			.selected{
				color: #ff6700;
			}
			a{
				color: #333;
				font-weight: 900;
			}
		}
	}
}



// footer
.footer{
	padding-top: 35px;
	width: 100%;
	.some-func{
		color: #757575;
		font-size: 14px;
		text-align: center;
		a{
			font-size: 14px;
			color: #757575;
			padding: 0 10px;
		}
		.focus-func{
			color: #333;
		}
	}
	.copyright{
		vertical-align: middle;
		font-size: 14px;
		color: #757575;
		text-align: center;
		padding: 10px 0;
	}
}

@font-face {
  font-family: 'iconfont';
  src: url('../font/MIfont/iconfont.eot');
  src: url('../font/MIfont/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../font/MIfont/iconfont.woff') format('woff'),
  url('../font/MIfont/iconfont.ttf') format('truetype'),
  url('../font/MIfont/iconfont.svg#iconfont') format('svg');
}

.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}