@charset "utf-8";

body,div,p,span,table,tr,td,dd,dl,dt,input,form,h1,h2,h3,h4,h5,h6,figure,li,ul,ol,blockquote,textarea,fieldset,option,select,a,hr{
	margin: 0;
	padding: 0;
}

ul,ol,li{
	list-style: none;
}

a{
	text-decoration: none;
}

@font-face {
  font-family: 'iconfont';
  src: url('../font/MIfont/iconfont.eot');
  src: url('../font/MIfont/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../font/MIfont/iconfont.woff') format('woff'),
  url('../font/MIfont/iconfont.ttf') format('truetype'),
  url('../font/MIfont/iconfont.svg#iconfont') format('svg');
}

.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.header-box{
	width: 100%;
	border-bottom: 2px solid #ff6700;
	.header{
		width: 1228px;
		height: 100px;
		margin: 0 auto;
		.logo{
			height: 100px;
			float: left;
			width: 100px;
			padding-top: 23px;
			box-sizing: border-box;
			img{

			}
		}
		h1{
			font-weight: 500;
			font-size: 28px;
			color: #424242;
			float: left;
			line-height: 100px;
			height: 100px;
			display: inline-block;
			margin-right: 15px;
		}
		p{
			line-height: 100px;
			height: 100px;
			color: #757575;
			font-size: 12px;
			display: inline-block;
			margin-top: 7px;
		}
		.my{
			float: right;
			width: 150px;
			color: #757575;
			margin-top: 45px;
			.user{
				display: inline-block;
				height: 24px;
				line-height: 24px;
				color: #757575;
				font-size: 12px;
				cursor: pointer;
			}
			.goods-list{
				height: 24px;
				line-height: 24px;
				color: #757575;
				font-size: 12px;
				cursor: pointer;
			}
		}
		
	}
}


.main-box{
	width: 100%;
	background-color: #f5f5f5;
	padding-top: 40px;
	padding-bottom: 50px;
	.goods{
		width: 1228px;
		margin: 0 auto;
		background-color: #fff;
		.th{
			height: 72px;
			border-bottom: 1px solid #e0e0e0;
			padding-left: 25px;
			box-sizing:border-box;
			line-height: 72px;
			color: #424242;
			font-size: 14px;
			.checkall{
				border: 1px solid #e0e0e0;
				display: inline-block;
				width: 20px;
				height: 20px;
				box-sizing:border-box;
				line-height: 20px;
				text-align: center;
				margin-right: 17px;
			}
			span{
				&:nth-child(1){
					margin-right: 120px;
				}
				&:nth-child(2){
					margin-right: 145px;

				}
				&:nth-child(3){
					margin-right: 325px;

				}
				&:nth-child(4){
					margin-right: 140px;

				}
				&:nth-child(5){
					margin-right: 140px;

				}
				&:nth-child(6){
					margin-right: 120px;

				}
			}
		}
		.good{
			height: 118px;
			line-height: 118px;
			padding-left: 25px;
			margin-bottom: 20px;
			.check{
				border: 1px solid #e0e0e0;
				display: inline-block;
				width: 20px;
				height: 20px;
				box-sizing:border-box;
				line-height: 20px;
				text-align: center;
				margin-right: 65px;
			vertical-align: middle;
			}
			img{
				width: 80px;
				height: 80px;
				vertical-align: middle;
				margin-right: 48px;
			}
			.good-name{
				font-size: 18px;
				color: #424242;
				display: inline-block;
				width: 376px;
				vertical-align: middle;
			}
			.good-price{
				width: 135px;
				display: inline-block;
				vertical-align: middle;
			}
			.goods-num-box{
				display: inline-block;
				vertical-align: middle;
				width: 150px;
				height: 40px;
				position: relative;
				margin-right: 50px;
				box-sizing:border-box;
				.less{
					border: 1px solid #e0e0e0;
					border-right: 0;
					width: 40px;
					height: 40px;
					line-height: 40px;
					text-align: center;
					position: absolute;
					box-sizing:border-box;
					left: 0;
					top: 0;
				}
				.goods-num{
					border-top: 1px solid #e0e0e0;
					border-bottom: 1px solid #e0e0e0;
					border-left: 0;
					border-right: 0;
					position: absolute;
					left: 40px;
					width: 70px;
					outline: 0;
					text-align: center;
					height: 40px;
					box-sizing:border-box;
					top: 0;
				}
				.more{
					border: 1px solid #e0e0e0;
					border-left: 0;
					width: 40px;
					height: 40px;
					position: absolute;
					line-height: 40px;
					box-sizing:border-box;
					text-align: center;
					right: 0;
					top: 0;
				}
			}
			.totle-price{
				color: #ff6700;
				width: 100px;
				display: inline-block;
				margin-right: 55px;
			}
			.del{

			}
		}

	}

	.totle-goods{
		height: 50px;
		width: 1228px;
		position: relative;
		background-color: #fff;
		margin: 0 auto;
		line-height: 50px;
		padding-left: 25px;
		font-size: 14px;
		color: #757575;
		box-sizing:border-box;
		a{
			color: #424242;
			font-size: 14px;
			margin-right: 20px;
		}
		.totle-goods-num{
			margin-left: 20px;
			display: inline-block;
			span{
				color: #ff6700;
			}
		}
		.totle-goods-price{
			display: inline-block;
			float: right;
			padding-right: 60px;
			color: #ff6700;
			span{
				font-size: 30px;
			}

		}
		.pay{
			display: inline-block;
			width: 202px;
			height: 50px;
			float: right;
			background-color: #e0e0e0;
			border: 0;
			margin-right: 0;
			text-align: center;
			font-size: 18px;
			color: #b0b0b0;
		}
		.show-tip{
			position: absolute;
			right: 0;
			bottom: 60px;
			width: 202px;
			background-color: #fff;
			border: 1px solid #ff6700;
			box-sizing:border-box;
			height: 50px;
			font-size: 14px;
			color: #ff6700;
			text-align: center;
			&:after{
				content: "";
				display: inline-block;
				width: 10px;
				height: 10px;
				position: absolute;
				bottom: -6px;
				left: 50%;
				border: 1px solid #ff6700;
				background-color: #fff;
				transform: rotate(45deg);
				border-left: 0;
				border-top: 0;
			}
		}
	}
}
// footer
.footer{
	width: 100%;
	background: white;
	a:hover{
		color: #ff6700;
		cursor: pointer;
	}
	.footer-top{
		width: 1226px;
		height: 80px;
		font-size: 16px;
		border-bottom: 1px solid #e0e0e0;
		margin: 0 auto;
		ul{
			li{
				display: inline-block;
				width: 240px;
				height: 80px;
				line-height: 80px;
				text-align: center;
				a{
					padding: 0 70px;
					border-right: 1px solid #e0e0e0;
					color: #616161;
					transition: all .2s;
					&:hover{
						color: #ff6700;
						cursor: pointer;
					}
				}
				&:last-child a{
					border-right: none;
				}
			}
		}
	}
	.footer-middle{
		width: 1226px;
		margin: 0 auto;
		padding-top: 40px;
		overflow:hidden;
		.lists{
			width: 975px;
			overflow: hidden;
			border-right: 1px solid #e0e0e0;
			float: left;
			ul{
				width: 160px;
				float: left;
				li{
					padding-top: 5px;
					a{
						color: #757575;
						font-size: 12px;
						&:hover{
							color: #ff6700;
							cursor: pointer;
						}
					}
					&:first-child{
						font-size: 14px;
						color: #333;
						padding-top: 0px;
						padding-bottom: 10px;
					}
				}
			}
		}
		.footer-middle-right{
			text-align: center;
			width: 250px;
			float: left;
			.phonenumber{
				text-align: center;
				font-size: 20px;
				padding-bottom: 10px;
				color: #ff6700;
			}
			.worktime,.callprice{
				text-align: center;
				font-size: 12px;
				color: #616161;
			}
			.contact-us{
				display: block;
				width: 120px;
				height: 30px;
				border: 1px solid #ff6700;
				box-sizing: border-box;
				line-height: 28px;
				text-align: center;
				margin: 0 auto;
				font-size: 12px;
				color: #ff6700;
				margin-top: 10px;
				transition: all .3s;
				&:hover{
					background-color: #ff6700;
					color: #fff;
				}
			}
		}
	}
	.footer-bottom{
		padding-top: 70px;
		height: 55px;
		width: 1226px;
		margin: 0 auto;
		.log{
			width: 55px;
			margin-right: 12px;
			float: left;
		}
		.we{
			width: 670px;
			float: left;
			& p a:hover{
				color: #ff6700;
				cursor: pointer;
			}
			.footer-menu{
				a{
					color: #757575;
					font-size: 12px;
					padding-right: 5px ;
					border-right: 1px solid #c9b6b6;
					&:last-child{
						border-right: none;
					}
				}
			}
			.copyright{
				font-size: 12px;
				color: #b0b0b0;
				a{
					color: #b0b0b0;
				}
			}
			.declare{
				font-size: 12px;
				color: #b0b0b0;
			}
		}
		.friends{
			float: right;
			padding-top: 10px;
		}
	}
	.xiaomi{
		width: 100%;
		height: 80px;
		line-height: 80px;
		text-align: center;
		font-size: 22px;
		font-family:"楷体";
		color: #e6e6e6;
	}
}

