@charset "utf-8";

body,div,p,span,table,tr,td,dd,dl,dt,input,form,h1,h2,h3,h4,h5,h6,figure,li,ul,ol,blockquote,textarea,fieldset,option,select,a,hr{
	margin: 0;
	padding: 0;
}

ul,ol,li{
	list-style: none;
}

a{
	text-decoration: none;
}



// header
.header{
	width: 100%;
	height: 40px;
	background: #333;
	font-size: 12px;
	.header-content{
		width: 1226px;
		margin: 0 auto;
		ul{
			float: left;
			li{
				display: inline-block;
				height: 40px;
				line-height: 40px;
				a{
					padding: 0 7px;
					border-right: 1px solid #424242;
				}
				.last-a{
					border-right: none;
				}
			}
		} 
		.info{
			float: right;
			margin-right: 20px;
		}
		.shopping{
			width: 120px;
			height: 40px;
			line-height: 40px;
			padding: 0 15px;
			background: #424242;
			color: #b0b0b0;
			box-sizing: border-box;
			cursor: pointer;
			float: right;
			.iconfont{
				padding: 0 5px;
			}
		}
	}
	a{
		color: #b0b0b0;
		&:hover{
			color: white;
		}
	}

}

// nav
.nav{
	width: 1226px;
	height: 100px;
	margin: 0 auto;
	position: relative;
	.logo{
		width: 100px;
		height: 100px;
		float: left;
		padding-top: 22.5px;
		box-sizing: border-box;
		margin-right: 135px;
	}
	.nav-menu{
		float: left;
		li{
			height: 100px;
			line-height: 100px;
			padding: 0 7px;
			display: inline-block;
			&:hover a{
				color: #ff6700;
			}
			a{
				color: black;
			}
		}
	}
	.search{
		height: 50px;
		line-height: 50px;
		margin-top: 30px;
		float: right;
		position: relative;
		.command-a{
			position: absolute;
    		right: 65px;
    		transition: all .3s;
			a{
				font-size: 12px;
				color: #757575;
				display: inline-block;
				height: 18px;
				line-height: 18px;
				padding: 0 5px;
				background-color: #eee;
				transition: all .2s;
			}
			:hover{
				background-color: #ff6700;
				color: white;
			}
		}
		#search-input{
			width: 220px;
			height: 50px;
			font-size: 20px;
			outline: none;
			display: inline-block;
			float: left;
			border: 1px solid #e0e0e0;
			text-indent: 12px;
			transition: all .2s;
		}
		#search-btn{
			display: inline-block;
			width: 50px;
			height: 52px;
			border: 1px solid #e0e0e0;
			border-left: none;
			float: left;
			padding-left: 11px;
			box-sizing: border-box;
			transition: all .2s;
			cursor: pointer;
			&:hover{
				background-color: #ff6700;
				color: #fff;
			}
		}
		.search-good-list{
			width: 222px;
			position: absolute;
			left: 0;
			top: 50px;
			padding: 0 15px;
			z-index: 1000;
			display: none;
			border: 1px solid #ff6700;
			box-sizing: border-box;
			background-color: white;
			li{
				font-size: 12px;
				color: #424242;
				height: 30px;
				.search-good-name{
					float: left;
					height: 30px;
					line-height: 30px;
				}
				.has-count{
					color: #b0b0b0;
					float: right;
					height: 30px;
					line-height: 30px;
				}
			}
		}
	}
	.nav-goods{
		width: 1226px;
		height: 0px;
		z-index: 10000;
		float: left;
		position: absolute;
		left: 0;
		top: 100px;
		overflow: hidden;
		background-color: white;
		.nav-goods-list{
			overflow: hidden;
			border-top: 1px solid #e0e0e0;
			width: 100%;
			float: left;
			height: 230px;
			li{
				width: 200px;
				text-align: center;
				float: left;
				.tip{
					width: 65px;
					height: 20px;
					border: 1px solid #ff6700;
					display: inline-block;
					line-height: 20px;
					font-size: 12px;
					color: #ff6700;
					margin-bottom: 15px;
				}
				img{
					height: 110px;
					display: block;
					margin: 0 auto 20px;
				}
				.nav-good-name{
					font-size: 12px;
					color: #333;
				}
				.nav-good-price{
					font-size: 12px;
					color: #ff6700;
				}
			}
			.line{
				width: 1px;
				height: 100px;
				float: left;
				background-color: #e0e0e0;
				margin-top: 40px;
			}
		}
	}
}

.main-box{
	background-color: #f5f5f5;
	width: 100%;
	overflow: hidden;
	padding-bottom: 30px;
	.main{
		width: 1228px;
		margin: 0 auto;
		overflow: hidden;
		.main-top{
			font-size: 12px;
			color: #616161;
			height: 40px;
			line-height: 40px;
			a{
				color: #757575;
			}
		}
		.main-left{
			width: 235px;
			background-color: #fff;
			float: left;
			margin-right: 15px;
			padding: 52px 0 20px 45px;
			box-sizing:border-box;
			ul{
				color: #333;
				margin-bottom: 30px;
				p{
					padding-bottom: 15px;
				}
				li{
					height: 32px;
					a{
						color: #757575;
						font-size: 14px;
						line-height: 32px;
						&:hover{
							color: #333;
						}
					}
				}
				.focus{
					color: #ff6700;
					&:hover{
						color: #ff6700;
					}
				}
			}
		}
		.main-right{
			background-color: #fff;
			width: 978px;
			float: left;
			padding-left: 48px;
			padding-right: 48px;
			padding-top: 60px;
			overflow: hidden;
			box-sizing:border-box;
			.userinfo{
				overflow: hidden;
				padding-bottom: 42px;
				border-bottom: 1px solid #e0e0e0;
				.pic{
					background: url(../img/x3cmT1L7RGa1qL_320.jpg) no-repeat;
					background-size: 100%;
					width: 160px;
					height: 160px;
					border-radius: 50%;
					border: 1px solid #e0e0e0;
					padding: 5px;
					float: left;
					margin-right: 20px;
					background-clip: content-box;
					
				}
				div:nth-child(2){
					width: 200px;
					float: left;
					#user-name{
						color: #616161;
						font-size: 24px;
						margin-top: 48px;
					}
					p:nth-child(2){
						color: #b0b0b0;
						font-size: 12px;
						line-height: 40px;
					}
					a{
						color: #ff6700;
						font-size: 12px;
					}
				}
				div:nth-child(3){
					float: left;
					margin-left: 150px;
						margin-top: 48px;
					p{
						font-size: 14px;
						color: #757575;
						line-height: 34px;
						.safe-level{
							color: #ffac13;
						}
					}
				}
			}
			.dingdan{
					padding-bottom: 60px;
					overflow: hidden;
				div{
					width: 405px;
					height: 160px;
					float: left;
					padding-top: 50px;
					box-sizing:border-box;
					img{
						float: left;
						margin-right: 22px;
						display: block;
					}
					p{
						float: left;
						font-size: 18px;
						margin-top: 22px;
						color: #757575;
						.dingdan-count{
							color: #ff6700;
						}
					}
					a{
						margin-left: 124px;
  						margin-top: 33px;
						font-size: 14px;
						width: 120px;
						display: block;
						height: 20px;
						color: #757575;
						&:hover{
							color: #ff6700;
						}

					}
				}
			}



		}
	}
}

 

// footer
.footer{
	width: 100%;
	background: white;
	a:hover{
		color: #ff6700;
		cursor: pointer;
	}
	.footer-top{
		width: 1226px;
		height: 80px;
		font-size: 16px;
		border-bottom: 1px solid #e0e0e0;
		margin: 0 auto;
		ul{
			li{
				display: inline-block;
				width: 240px;
				height: 80px;
				line-height: 80px;
				text-align: center;
				a{
					padding: 0 70px;
					border-right: 1px solid #e0e0e0;
					color: #616161;
					transition: all .2s;
					&:hover{
						color: #ff6700;
						cursor: pointer;
					}
				}
				&:last-child a{
					border-right: none;
				}
			}
		}
	}
	.footer-middle{
		width: 1226px;
		margin: 0 auto;
		padding-top: 40px;
		overflow:hidden;
		.lists{
			width: 975px;
			overflow: hidden;
			border-right: 1px solid #e0e0e0;
			float: left;
			ul{
				width: 160px;
				float: left;
				li{
					padding-top: 5px;
					a{
						color: #757575;
						font-size: 12px;
						&:hover{
							color: #ff6700;
							cursor: pointer;
						}
					}
					&:first-child{
						font-size: 14px;
						color: #333;
						padding-top: 0px;
						padding-bottom: 10px;
					}
				}
			}
		}
		.footer-middle-right{
			text-align: center;
			width: 250px;
			float: left;
			.phonenumber{
				text-align: center;
				font-size: 20px;
				padding-bottom: 10px;
				color: #ff6700;
			}
			.worktime,.callprice{
				text-align: center;
				font-size: 12px;
				color: #616161;
			}
			.contact-us{
				display: block;
				width: 120px;
				height: 30px;
				border: 1px solid #ff6700;
				box-sizing: border-box;
				line-height: 28px;
				text-align: center;
				margin: 0 auto;
				font-size: 12px;
				color: #ff6700;
				margin-top: 10px;
				transition: all .3s;
				&:hover{
					background-color: #ff6700;
					color: #fff;
				}
			}
		}
	}
	.footer-bottom{
		padding-top: 70px;
		height: 55px;
		width: 1226px;
		margin: 0 auto;
		.log{
			width: 55px;
			margin-right: 12px;
			float: left;
		}
		.we{
			width: 670px;
			float: left;
			& p a:hover{
				color: #ff6700;
				cursor: pointer;
			}
			.footer-menu{
				a{
					color: #757575;
					font-size: 12px;
					padding-right: 5px ;
					border-right: 1px solid #c9b6b6;
					&:last-child{
						border-right: none;
					}
				}
			}
			.copyright{
				font-size: 12px;
				color: #b0b0b0;
				a{
					color: #b0b0b0;
				}
			}
			.declare{
				font-size: 12px;
				color: #b0b0b0;
			}
		}
		.friends{
			float: right;
			padding-top: 10px;
		}
	}
	.xiaomi{
		width: 100%;
		height: 80px;
		line-height: 80px;
		text-align: center;
		font-size: 22px;
		font-family:"楷体";
		color: #e6e6e6;
	}
}




@font-face {
  font-family: 'iconfont';
  src: url('../font/MIfont/iconfont.eot');
  src: url('../font/MIfont/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../font/MIfont/iconfont.woff') format('woff'),
  url('../font/MIfont/iconfont.ttf') format('truetype'),
  url('../font/MIfont/iconfont.svg#iconfont') format('svg');
}

.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}